{
  "Entries": [
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/ps8994?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1199"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourceGroups/ps8994\",\r\n  \"name\": \"ps8994\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/ps8994/providers/Microsoft.Maintenance/maintenanceConfigurations/ps2227?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"maintenanceScope\": \"InGuestPatch\",\r\n    \"maintenanceWindow\": {\r\n      \"startDateTime\": \"2021-10-09 12:30\",\r\n      \"expirationDateTime\": \"9999-12-31 23:59\",\r\n      \"duration\": \"01:00\",\r\n      \"timeZone\": \"Pacific Standard Time\",\r\n      \"recurEvery\": \"2Months Third Monday Offset3\"\r\n    },\r\n    \"installPatches\": {\r\n      \"rebootSetting\": \"NeverReboot\",\r\n      \"windowsParameters\": {\r\n        \"kbNumbersToExclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"kbNumbersToInclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"FeaturePack\",\r\n          \"ServicePack\"\r\n        ]\r\n      },\r\n      \"linuxParameters\": {\r\n        \"packageNameMasksToExclude\": [\r\n          \"ppt\",\r\n          \"userpk\"\r\n        ],\r\n        \"packageNameMasksToInclude\": [\r\n          \"apt\",\r\n          \"httpd\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"Other\"\r\n        ]\r\n      },\r\n      \"tasks\": {\r\n        \"preTasks\": [\r\n          {\r\n            \"parameters\": {\r\n              \"arg1\": \"value1\"\r\n            },\r\n            \"source\": \"/subscriptions/a18897a6-7e44-457d-9260-f2854c0aca42/resourceGroups/azemailerbackup-rg/providers/Microsoft.Logic/workflows/azemailerdataprotector\",\r\n            \"taskScope\": \"Resource\"\r\n          }\r\n        ]\r\n      }\r\n    }\r\n  }\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"tags\": {},\r\n  \"properties\": {\r\n    \"extensionProperties\": {},\r\n    \"maintenanceScope\": \"InGuestPatch\",\r\n    \"maintenanceWindow\": {\r\n      \"startDateTime\": \"2021-10-09 12:30\",\r\n      \"expirationDateTime\": \"9999-12-31 23:59\",\r\n      \"duration\": \"01:00\",\r\n      \"timeZone\": \"Pacific Standard Time\",\r\n      \"recurEvery\": \"2Months Third Monday Offset3\"\r\n    },\r\n    \"visibility\": \"Custom\",\r\n    \"installPatches\": {\r\n      \"rebootSetting\": \"NeverReboot\",\r\n      \"windowsParameters\": {\r\n        \"kbNumbersToExclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"kbNumbersToInclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"FeaturePack\",\r\n          \"ServicePack\"\r\n        ]\r\n      },\r\n      \"linuxParameters\": {\r\n        \"packageNameMasksToExclude\": [\r\n          \"ppt\",\r\n          \"userpk\"\r\n        ],\r\n        \"packageNameMasksToInclude\": [\r\n          \"apt\",\r\n          \"httpd\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"Other\"\r\n        ]\r\n      },\r\n      \"tasks\": {\r\n        \"preTasks\": [\r\n          {\r\n            \"parameters\": {\r\n              \"arg1\": \"value1\"\r\n            },\r\n            \"source\": \"/subscriptions/a18897a6-7e44-457d-9260-f2854c0aca42/resourceGroups/azemailerbackup-rg/providers/Microsoft.Logic/workflows/azemailerdataprotector\",\r\n            \"taskScope\": \"Resource\"\r\n          }\r\n        ]\r\n      }\r\n    },\r\n    \"configurationType\": \"Regular\"\r\n  },\r\n  \"id\": \"/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/ps8994/providers/Microsoft.Maintenance/maintenanceConfigurations/ps2227\",\r\n  \"name\": \"ps2227\",\r\n  \"type\": \"Microsoft.Maintenance/maintenanceConfigurations\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/powershellrg?api-version=2016-09-01",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\"\r\n}",
      "RequestHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": [
          "1198"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"id\": \"/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourceGroups/powershellrg\",\r\n  \"name\": \"powershellrg\",\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"provisioningState\": \"Succeeded\"\r\n  }\r\n}",
      "StatusCode": 201
    },
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/powershellrg/providers/Microsoft.Maintenance/maintenanceConfigurations/ps9?api-version=2021-04-01-preview",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"location\": \"eastus2euap\",\r\n  \"properties\": {\r\n    \"maintenanceScope\": \"InGuestPatch\",\r\n    \"maintenanceWindow\": {\r\n      \"startDateTime\": \"2021-10-09 12:30\",\r\n      \"expirationDateTime\": \"9999-12-31 23:59\",\r\n      \"duration\": \"01:00\",\r\n      \"timeZone\": \"Pacific Standard Time\",\r\n      \"recurEvery\": \"2Months Third Monday Offset3\"\r\n    },\r\n    \"installPatches\": {\r\n      \"rebootSetting\": \"NeverReboot\",\r\n      \"windowsParameters\": {\r\n        \"kbNumbersToExclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"kbNumbersToInclude\": [\r\n          \"KB123456\",\r\n          \"KB123466\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"FeaturePack\",\r\n          \"ServicePack\"\r\n        ],\r\n        \"excludeKbsRequiringReboot\": true\r\n      },\r\n      \"linuxParameters\": {\r\n        \"packageNameMasksToExclude\": [\r\n          \"ppt\",\r\n          \"userpk\"\r\n        ],\r\n        \"packageNameMasksToInclude\": [\r\n          \"apt\",\r\n          \"httpd\"\r\n        ],\r\n        \"classificationsToInclude\": [\r\n          \"Other\"\r\n        ]\r\n      },\r\n      \"tasks\": {\r\n        \"preTasks\": [\r\n          {\r\n            \"parameters\": {\r\n              \"arg1\": \"value1\"\r\n            },[...]
[...]
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/providers/Microsoft.Maintenance/maintenanceConfigurations?api-version=2021-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11989"
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"value\": [\r\n    {\r\n      \"location\": \"eastus2euap\",\r\n      \"tags\": {},\r\n      \"properties\": {\r\n        \"extensionProperties\": {},\r\n        \"maintenanceScope\": \"All\",\r\n        \"visibility\": \"Custom\",\r\n        \"configurationType\": \"Regular\"\r\n      },\r\n      \"id\": \"/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/dgnsreastus2euap/providers/Microsoft.Maintenance/maintenanceConfigurations/policydgnsrsharedeastus2euap\",\r\n      \"name\": \"polic[...]
[...]
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/resourcegroups/ps8994?api-version=2016-09-01",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzg5OTQtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-deletes": [
          "14995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzg5OTQtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QUzg5OTQtRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11999"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMUkctRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "Location": [
          "https://management.azure.com/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMUkctRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01"
        ],
        "Retry-After": [
          "15"
        ],
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11995"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/subscriptions/eee2cef4-bc47-4278-b4f8-cfc65f25dfd8/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1QT1dFUlNIRUxMUkctRUFTVFVTMkVVQVAiLCJqb2JMb2NhdGlvbiI6ImVhc3R1czJldWFwIn0?api-version=2016-09-01",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "11992"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {
    "Test-AzMaintenanceConfigurationInGuestPatch": [
      "ps8994",
      "ps2227",
      "ps9"
    ]
  },
  "Variables": {
    "SubscriptionId": "eee2cef4-bc47-4278-b4f8-cfc65f25dfd8"
  }
}